**/vendor/

**/laravel/.env
**/laravel/.env.backup
**/laravel/.env.production
**/symfony/.env.local
**/symfony/.env.local.php
**/symfony/.env.*.local

**/laravel/database/*.sqlite
**/symfony/var/*.db
**/symfony/var/*.db-journal

**/laravel/storage/*.key
**/laravel/storage/framework/cache/data/*
**/laravel/storage/framework/views/*
**/laravel/storage/framework/sessions/*
**/laravel/storage/logs/*
**/symfony/var/cache/
**/symfony/var/log/*

.idea/
.vscode/
Thumbs.db
.DS_Store